/*---------------
 google-fonts 
 ----------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*---------------
 common style 
 ----------------*/
body,
body a {
  font-family: "Poppins", sans-serif;
  margin: 0;
  text-decoration: none;
}
/*-----------------------
 start header-section 
 ------------------------*/
.header-section {
  background-color: #2d25a0;
}
.header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 80px;
  padding: 68px;
  margin-bottom: 70px;
}
.header-container:hover .live-stream {
  background-color: #3dbafd;
  color: #2d25a0;
  animation: focus 3s ease-in-out infinite alternate;
}
.header-tittle-area {
  margin-left: 60px;
}
.header-tittle h1 {
  width: 485px;
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
  font-weight: 600;
}
.live-stream {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  background: #e02c6d;
  padding: 15px 15px;
  color: #ffffff;
}
#stream a {
  color: #ffffff;
}
.enrolled {
  margin-left: 8px;
}
.banner img {
  width: 556.01px;
  height: 438px;
  padding-top: 24.2px;
  padding-bottom: 20px;
}

/*---------------------- 
start player section 
-----------------------*/
.player-section {
  margin-bottom: 150px;
}
.players-container {
  display: flex;
  justify-content: center;
}
.player-info-container {
  width: 1050px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player-box-shadow {
  width: 330px;
  height: 474px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-info {
  width: 300px;
  height: 426px;
  margin: 0 15px 33px 15px;
  padding-top: 15px;
}
.player-image img {
  width: 300px;
  height: 256px;
}
.player {
  font-size: 28px;
  font-weight: 600;
  margin: 5px 0 8px 0;
}
.neymar-details {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}
/*------------ 
footer style 
--------------*/
.footer-section {
  display: flex;
  justify-content: center;
  margin-bottom: 63px;
}
.footer-area {
  width: 483.87px;
  height: 213px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.logo img {
  width: 483.87px;
  height: 110px;
}
.social-icon {
  width: 170px;
  height: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.icon {
  font-size: 32px;
}
/* start keyframe */
@keyframes focus {
  0% {
    border: 3px solid yellowgreen;
  }
  25% {
    background-color: #e02c6d;
    color: #ffffff;
    border: 3px solid red;
  }
  50% {
    background-color: #3dbafd;
    color: #e02c6d;
    border: 3px solid gray;
  }
  75% {
    background-color: yellow;
    color: red;
    border: 3px solid green;
  }
  100% {
    background-color: tomato;
    color: #e02c6d;
    border: 3px solid khaki;
  }
}
/* start mobile responsive */
@media screen and (max-width: 688px) {
  .header-container,
  .player-info-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
  .header-tittle {
    width: 100%;
  }
  .header-tittle h1 {
    width: 305px;
    font-size: 39px;
    line-height: 65px;
  }
  .header-tittle-area {
    margin-left: 30px;
  }
  .banner img {
    width: 98%;
    height: auto;
    padding-top: 44.2px;
    padding-bottom: 20px;
  }
  .logo img {
    width: 85%;
    height: auto;
  }
  .player-section {
    margin-bottom: 69px;
  }
}
/* start tab responsibe */
@media screen and (min-width: 688px) and (max-width: 992px) {
  .header-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .player-info-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
}
